go 1.22.1

use (
	"./Chapter_3_Configuration and Error Handling/3.4 Centralized error handling/snippetbox"
	"./Chapter_4_Database-driven responses/4.1 Setting Up MySQL/snippetbox"
	"./Chapter_4_Database-driven responses/4.5 Designing a database model/snippetbox"
	"./Chapter_4_Database-driven responses/4.6 Executing SQL statements/snippetbox"
	"./Chapter_4_Database-driven responses/4.7 Single-record SQL queries/snippetbox"
	"./Chapter_4_Database-driven responses/4.8 Multiple-record SQL queries/snippetbox"
	"./Chapter_5_Dynamic HTML templates/5.1 Displaying Dynamic Data/snippetbox"
)
