go 1.22.1

use (
	"./Chapter 2 Foundations/2.8 Serving static files/snippetbox"
	"./Chapter 3 Configuration and Error Handling/3.1 Managing configuration settings/snippetbox"
	"./Chapter 3 Configuration and Error Handling/3.2 Leveled logging/snippetbox"
	"./Chapter 3 Configuration and Error Handling/3.4 Centralized error handling/snippetbox"
	"./Chapter 3 Configuration and Error Handling/3.5 Isolating application routes/snippetbox"
	"./Chapter 4 Database Driven Responses/4.1 Setting Up MySQL/snippetbox"
	"./Chapter 4 Database Driven Responses/4.4 Creating a database connection pool/snippetbox"
	"./Chapter 4 Database Driven Responses/4.5 Designing a database model/snippetbox"
	"./Chapter 4 Database Driven Responses/4.6 Executing SQL statements/snippetbox"
	"./Chapter 4 Database Driven Responses/4.7 Single-record SQL queries/snippetbox"
	"./Chapter 4 Database Driven Responses/4.8 Multiple-record SQL queries/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.1 Displaying Dynamic Data/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.2 Template Actions and Functions/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.3 Caching Templates/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.4 Catching Runtime Errors/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.5 Common Dynamic Data/snippetbox"
	"./Chapter 5 Dynamic HTML Templates/5.6 Custom Template Functions/snippetbox"
	"./Chapter 6 Middleware/6.2 Setting Security Headers/snippetbox"
	"./Chapter 6 Middleware/6.3 Request Logging/snippetbox"
	"./Chapter 6 Middleware/6.4 Panic Recovery/snippetbox"
	"./Chapter 6 Middleware/6.5 Composable Middleware Chains/snippetbox"
	"./Chapter 7 Advanced Routing/7.2 Clean URLs and Method-Based Routing/snippetbox"
	"./Chapter 8 Processing Forms/8.1 Setting Up a HTML Form/snippetbox"
	"./Chapter 8 Processing Forms/8.2 Parsing Form Data/snippetbox"
	"./Chapter 8 Processing Forms/8.3 Validating Form Data/snippetbox"
	"./Chapter 8 Processing Forms/8.4 Displaying Errors and Repopulating Fields/snippetbox"
	"./Chapter 8 Processing Forms/8.5 Creating Validation Helpers/snippetbox"
	"./Chapter 8 Processing Forms/8.6 Automatic Form Parsing/snippetbox"
	"./Chapter 9 Stateful HTTP/9.2 Setting Up the Session Manager/snippetbox"
)
